/*******************************************************************
	Layout
********************************************************************/
body {
  overflow-x: hidden;
}
.headerwrap {
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 111;
  background-color: $white;
  img {
    width: 100%;
    height: 100%;
  }
  #header {
    @include center(horizontal);
    max-width: 1920px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 000px;
    padding: 0 20px;
    .logo {
      position: relative;
      z-index: 2;
      width: 146px;
      aspect-ratio: 146/32;
    }
    .gnb {
      display: flex;
      gap: 20px;
			@media (max-width:1440px) {
				gap: 0;
				display: none;
				&.mobile{
					display: flex;
				}
			}
      .nav {
        display: flex;
        // 메인메뉴들 가로폭맞추려고 어쩔수없는 width사용
        .main-menu {
          width: 172px;
					@media (max-width : 1440px) {
						width: auto;
            &:nth-child(1){
              border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					}
          a {
            color: $black-1e;
            font-weight: $fw-bold;
						.arrow {
							display: none;
							padding-left: 10px;
							@media (max-width : 1440px) {
								&.show{
									display: inline;
								}
							}
						}
          }
          > a {
            display: block;
            line-height: 100px;
            padding: 0 20px;

            @media (max-width : 1440px) {
              // 작은화면 aside나올때 클릭으로하면 펼칠때 넘어가져서 일단 이걸로해놈
              display: inline-block;
            }
          }
          &:hover > a {
            color: $white;
          }
          &:hover {
            background-color: $primary;
          }
          &:hover .sub-menu {
            background-color: $primary;
          }
          &:hover .sub-menu a {
            color: $secondary;
          }
          .sub-menu li:hover a {
            color: $white;
          }
          .sub-menu {
            height: 0;
            overflow: hidden;
						&.open {
							height: auto;
							padding-bottom: 20px;
						}
            a {
              padding: 10px 20px;
              display: block;
            }
          }
        }
      }
      .etc-menu {
        display: flex;
        align-items: center;
        gap: 0 20px;
        padding-left: 20px;
        .btn-round {
          height: 48px;
          padding: 5px 10px;
          border-radius: 16px;
          color: $white;
          background-color: $primary;
          font-weight: $fw-bold;
        }
        .lang {
          background-color: $bg-ea;
          display: flex;
          gap: 0 8px;
          border-radius: 278px;
          font-size: calcRem(14px);
          align-items: center;
          .btn-lang {
            padding: 4px 8px;
          }
          .active {
            background-color: $gray-85;
            color: $white;
            font-weight: $fw-bold;
            border-radius: 28px;
          }
        }
      }
    }
    .btn-drawer {
      display: none;
      i {
        line-height: 100px;
        font-size: calcRem(30px);
      }
      @media screen and (max-width: 1440px) {
        display: block;
        position: relative;
        z-index: 2;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .gnb {
      flex-direction: column;
			top: 0;
			position: fixed;
			height: 100vh;
			right: 0;
			bottom: 0;
			background-color: $white;
			padding-top: 100px;
			left: 0;
      .nav {
        display: flex;
        flex-direction: column;
      }
      .etc-menu {
        margin-bottom: 40px;
        margin-top: auto;
      }
    }
  }
}

.main {
  position: relative;
  .intro {
    position: relative;
    .txt-set {
      width: 1440px;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
			.txt {
				transition: color 0.3s;
				font-size: calcRem(200px);
				font-weight: $fw-bold;
				color: #f3f3f3;
			}
			.txt.on {
				color: $black-1e;
			}
    }
    .bg-section {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: none;
      .img-set {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .startbanner {
    position: relative;
    margin: 0 auto;
    text-align: center;
    // height: 100vh;
		img {
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }
    .startbanner-txtbx {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      z-index: 1;
      opacity: 1;
      > div {
        font-size: 64px;
      }
      > h2 {
        font-weight: $fw-bold;
        font-size: 100px;
      }
      > p {
        font-size: 48px;
        margin-top: 120px;
      }
    }
    
  }
  .product {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: center;
    padding: 180px 240px;
    img {
      width: 100%;
      height: 100%;
    }
    .product-sc {
      padding: 80px;
      max-width: 1280px;
      margin: 0 auto;
      background-color: #f5f7f9;
      border-radius: 40px;
    }
    .product-topbx {
      display: flex;
      gap: 0 80px;
      .product-txtbx {
        position: relative;
        width: 780px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        > h3 {
          font-size: calcRem(64px);
          font-weight: $fw-bold;
          background-image: linear-gradient(
            to right,
            #6c93ea,
            #e5bfc3,
            #9ae5dc
          );
          -webkit-background-clip: text;
          color: transparent;
        }
        > p {
          color: $gray-6d;
          font-size: calcRem(32px);
        }
        .barogagi {
          position: absolute;
          top: 5%;
          right: 0;
          cursor: pointer;
          > a {
            display: flex;
            align-items: center;
            font-size: 16px;
            > div:nth-child(1) {
              padding-right: 16px;
            }
          }
        }
      }
      .product-imgbx {
        width: 428px;
        height: 276px;
      }
    }
    .product-bottombx {
      margin-top: 80px;
      .product-libx ul {
        display: flex;
        gap: 40px;
        li {
          flex: 1;
          border-radius: 20px;
          background: $white;
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
          padding: 40px;
          > h4 {
            margin-bottom: 24px;
						font-size: calcRem(34px);
        		font-weight: $fw-bold;
          }
					> p {
						color: $gray-6d;
						font-size: calcRem(28px);
					}
        }
      }
      
    }
  }
  .news {
    position: relative;
    display: flex;
    // 가로스크롤 높이값 임의지정
    height: 100vh;
    background-color: $primary;
    padding: 180px 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    h3 {
      font-size: calcRem(64px);
      color: $white;
    }
    .news-slide {
      margin-top: 120px;
      margin-bottom: 120px;
			> ul {
				position: relative;
				// width: calc(3800px + 100vw);
				display: flex;
				gap: 40px;
				> li {
					background-color: $white;
					width: 400px;
					height: 480px;
					display: flex;
					flex-direction: column;
					border-radius: 20px;
					> div:nth-child(1) {
						flex: 1;
						font-size: calcRem(28px);
					}
					> div:nth-child(2) {
						height: 260px;
					}
					.news-slide-textbx {
						padding: 32px;
						display: flex;
						flex-direction: column;
						> div {
							flex: 1;
							font-weight: $fw-medium;
						}
						> p {
							font-size: calcRem(14px);
							color: $gray-6d;
						}
					}
				}
			}
    }
    .newsbtn {
      line-height: 32px;
      border: 1px solid $white;
      border-radius: 60px;
      padding: 20px 40px;
      color: $white;
      i {
        padding-left: 5px;
      }
			&:hover {
				transition: 0.3s;
				border: 1px solid $white;
				border-radius: 60px;
				padding: 20px 40px;
				color: $primary;
				background-color: $white;
				font-weight: $fw-bold;
			}
    }
  }
  .contact {
    padding: 180px 240px;
    h2 {
      font-size: calcRem(64px);
      font-weight: $fw-bold;
    }
    .contact-cont {
      overflow: hidden;
      margin-top: 120px;
      .flowbx-wrap {
        display: flex;
        width: 200%;
        position: relative;
				&:nth-child(1) {
					animation: marquee 20s linear infinite;
				}
				&:nth-child(2) {
					margin-top: 80px;
					left: 15%;
					animation: marquee2 20s linear infinite;
				}
				.flowbx {
					display: flex;
					flex-basis: 50%;
					gap: 60px;
					padding-right: 160px;
					> div:nth-child(1) {
						width: 200px;
					}
					> div:nth-child(2) {
						> p {
							margin-top: 20px;
							font-size: calcRem(36px);
							font-weight: $fw-bold;
						}
					}
				}

      }
    }
    @keyframes marquee {
      0% {
        left: 0;
      }
      100% {
        left: -100%;
      }
    }
    @keyframes marquee2 {
      0% {
        left: 15%;
      }
      100% {
        left: -85%;
      }
    }
  }
  .banner {
    width: 1920px;
    height: 480px;
    margin: 0 auto;
    background: url(../images/contact.png) no-repeat;
    display: flex;
    align-items: center;
    padding: 80px 240px;
    gap: 40px;
    justify-content: center;
    color: $white;
    text-align: center;
    flex-direction: column;
    .banner-txtbx {
      > div:nth-child(1) {
        font-size: calcRem(56px);
        font-weight: $fw-bold;
      }
      button {
        color: $white;
        border: 1px solid $white;
      }
    }
    .bannerbtn {
      line-height: 32px;
      border: 1px solid $white;
      border-radius: 60px;
      padding: 20px 40px;
      i {
        padding-left: 5px;
      }
			&:hover {
				transition: 0.3s;
				border: 1px solid $black-1e;
				background-color: $white;
				color: $black-1e;
				font-weight: $fw-bold;
			}
    }
  }
}

.footer {
  height: 100px;
  background-color: $bg-f5;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
  img {
    width: 100%;
    height: 100%;
  }
  .footer-logo {
    width: 146px;
    aspect-ratio: 146/32;
  }
  .footer-info {
    display: flex;
    flex: 1;
    gap: 40px;
    .contact {
      display: flex;
      gap: 20px;
      .email  {
				> a {
					color: black;
					text-decoration: underline;
					> span {
						padding-right: 5px;
					}
				}
      }
      .tel {
				> span {
					padding-right: 5px;
				}
			}
    }
  }
}
.scrolltop {
  position: fixed;
  width: 60px;
  bottom: 5%;
  right: 3%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $white;
  display: none;
  // opacity: 0;
  > i {
    font-size: 30px;
  }
  &:hover {
    background-color: black;
    > i {
      color: $white;
    }
  }
}


// service
#service-container{
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    position: relative;
    .txtbx{
      padding: 120px 240px;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      > h2{
        font-size: 120px;
      }
      > p {
        font-size: 56px;
      }
    }
    .bg{
      height: 100vh;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    .wrap {
      padding: 180px 240px;
      .txtbx{
        font-size: 48px;
      }
      .imgbx{
        margin-top: 120px;
        border: 3px solid transparent;
        border-radius: 40px;
        background-image: linear-gradient(#fff,#fff),
        linear-gradient(to right,$primary 0%, purple 60%,aqua 100%);
        background-origin: border-box;
        background-clip: content-box,border-box;
        .wrap{
          padding: 80px 80px 120px 80px;
        }
        .sublogo{
          width: 400px;
          margin: 0 auto;
        }
        .contentbx{
          max-width: 1200px;
          margin: 0 auto;
          > h4 {
            color : $primary;
            font-size: 32px;
            &:nth-child(1){
              margin-top: 60px;
            }
            &:nth-child(2){
              margin-top: 120px;
            }
          }
          > ul{
            display: flex;
            margin-top: 32px;
            @media (max-width : 1440px) {
              flex-direction: column;
            }
            >li {
              position: relative;
              flex-basis: 100%;
              aspect-ratio: 400/240;
              >span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: $white;
                font-weight: $fw-bold;
                font-size: 40px;
                z-index: 1;
                text-align: center;
              }
              > img{
                filter :brightness(60%)
              }
            }
          }
        }
      }
    }
  }
  .third-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      .txtbx{
        > h3 {
          color: $black-1e;
          font-size: 48px;
        }
        > p {
          margin-top: 20px;
          font-size: 36px;
          color: $gray-6d;
        } 
      }
      .content{
        > ul {
          display: flex;
          flex-direction: column;
          gap: 40px;
          > li {
            display: flex;
            padding: 80px;
            gap: 80px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            @media (max-width : 1440px) {
              flex-direction: column;
              align-items: start;
            }
            > div{
              flex-basis: 100%;
            }
            .imgtxtbx{
              color: transparent;
              font-size: 80px;
              font-weight: $fw-bold;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              &.imgtxtbx1 {
                background-image: url(../images/service/linear1.png);
              }
              &.imgtxtbx2 {
                background-image: url(../images/service/linear2.png);
              }
              &.imgtxtbx3 {
                background-image: url(../images/service/linear3.png);
              }
            }
            .txtbx{
              font-size: 36px;
              font-weight: $fw-bold;
            }
          }
        }
      }
    }
  }
}
// service - neul_silver_care
#service-neul_silver_care-container{
  margin-top: 100px;
  .dtOnly {
    @media (max-width : 1440px) {
      display: none;
    }
  }
  .mobileOnly{
    display: none;
    @media (max-width : 1440px) {
      display: block;
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    position: relative;
    height: calc(100vh - 100px);
    padding: 120px 240px;
    @media (max-width : 1440px) {
      padding: 80px 24px;
    }
    .txtbx{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      > h2{
        font-size: 120px;
      }
      > p {
        font-weight: $fw-bold;
        font-size: 56px;
      }
    }
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    .content{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1440px) {
        padding: 40px 24px 80px 24px;
      }
      .txtbx{
        > h3 {
          font-size: 64px;
        }
        > p {
          margin-top: 40px;
          color: $gray-6d;
          font-size: 36px;
        }
      }
      .imgbx{
        border-radius: 40px;
        overflow: hidden;
      }
      .m-imgbx{
        display: flex;
        flex-direction: column;
        gap: 24px;
        > div{
          position: relative;
          overflow: hidden;
          border-radius: 40px;
          background-color: $bg-f5;
          padding: 40px 40px 0 40px;
          // 추후 미디어쿼리 어떻게 할지 내려오면 ㄱㄱ
          // height: 340px;
          // &:nth-child(1) > img{
          //   width: 594px;
          //   height: 343px;
          // }
          // &:nth-child(2) > img{
          //   width: 236px;
          //   height: 475px;
          // }
          // &:nth-child(3) > img{
          //   width: 236px;
          //   height: 475px;
          // }
        }
      }
    }
  }
  .third-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1440px) {
        padding: 64px 24px;
      }
      > .txtbx{
        h3 {
          color: $black-1e;
          font-size: 48px;
        }
        > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $black-1e;
          }
          > div {
            border-bottom: 1px solid $black-1e;
          }
        }
        > p {
          margin-top: 40px;
          font-size: 36px;
          color: $gray-6d;
        } 
      }
      .content{
        > ul {
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > li {
            display: flex;
            flex: 1 0 0;
            padding: 40px;
            gap: 40px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            
            @media (max-width : 1440px) { 
              flex-direction: column;
              align-items: start;
            }
            .imgbx{
              flex-shrink: 0;
              width: 200px;
              height: 200px;
              border-radius: 100px;
              overflow: hidden;
              border: 2px solid rgba(30, 30, 30, 0.10);
              @media (max-width : 1440px) {
                margin: 0 auto;
              }
            }
            .txtbx{
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              gap: 20px;
              height: 100%;
              > h4 {
                font-size: 36px;
                font-weight: $fw-bold;
                color: $primary;
              }
              > p {
                font-size: 28px;
                color: $gray-6d;
                flex: 1 0 0;
              }
              span {
                line-height: 32px;
                &:nth-child(1){
                  padding-right: 3px;
                }
              } 
            }
          }
        }
      }
    }
  }
  .middle-sec{
    padding: 64px 24px;
    .txtbx{
      text-align: center;
      color: $black-1e;
      > h3{
        font-size: 40px;
        font-weight: $fw-bold;
        line-height: 130%;
        letter-spacing: -1px;
      }
      > p{
        font-size: 20px;
        line-height: 160%;
        margin-top: 8px;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;
      .box{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        > div {
          width: 100%;
          padding: 40px 24px 24px 40px;
          position: absolute;
          top: 0%;
          left: 0%;
          > a{
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 36px;
            color: $white;
            justify-content: space-between;
            display: flex;
            gap: 40px;
          }
        }
      }
    }
  }
}
// service - assessment
#service-assessment-container{
  margin-top: 100px;
  .dtOnly {
    @media (max-width : 1440px) {
      display: none;
    }
  }
  .mobileOnly{
    display: none;
    @media (max-width : 1440px) {
      display: block;
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    position: relative;
    height: calc(100vh - 100px);
    padding: 120px 240px;
    @media (max-width : 1440px) {
      padding: 80px 24px;
    }
    .txtbx{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      > h2{
        font-size: 120px;
      }
      > p {
        font-weight: $fw-bold;
        font-size: 56px;
      }
    }
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    background-color: $primary;
    .wrap{
      padding: 180px 240px;
      @media (max-width : 1440px) {
        padding: 64px 24px;
      }
      > h3{
        font-size: 100px;
        font-weight: $fw-bold;
        color: $white;
        text-align: center;
      }
      .content{
        display: flex;
        gap: 40px;
        margin-top: 120px;
        @media (max-width : 1440px) {
          flex-direction: column;
        }
        .listwrap{
          border-radius: 40px;
          background-color: $bg-18;
          color: $white;
          flex: 1 0 0;
          .topbox{
            .txtbx{
              padding: 48px 40px;
              @media (max-width : 1440px) {
                padding: 24px; 
              }
              > h4{
                font-size: 64px;
                font-weight: $fw-bold;
                margin-top: 24px;
                @media (max-width : 1440px) {
                  font-size: 32px;
                  margin-top: 16px; 
                }
              }
              img{
                width: 96px;
                height: 96px;
                @media (max-width : 1440px) {
                  width: 64px;
                  height: 64px;
                }
              }
            }
          }
          .bottombox{
            border-radius: 40px;
            background-color: $bg-0c;
            padding: 48px 48px 64px 48px;
            @media (max-width : 1440px) {
              padding: 32px 24px;
            }
            > ul{
              display: flex;
              flex-direction: column;
              gap: 24px; 
              @media (max-width : 1440px) {
                gap: 16px;
              }
              li {
                display: flex;
                font-size: 36px;
                gap: 20px;
                align-items: center;
                @media (max-width : 1440px) {
                  font-size: 20px;
                }
                > span:nth-child(1){
                  display: inline-block;
                  text-align: center;
                  width: 72px;
                  height: 56px;
                  padding: 4px;
                  background-color: $bg-00d;
                  color: $black-1e;
                  border-radius: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
        
      }
    }
  }
  .third-sec{
    .content{
      padding: 180px 240px;
      @media (max-width : 1440px) {
        padding: 40px 80px;
      }
      &:nth-child(3){
        .imgbx{
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > div:nth-child(1){
            border-radius: 40px;
            overflow: hidden;
            flex-basis: 60%;
          }
          > div:nth-child(2){
            border-radius: 40px;
            overflow: hidden;
            flex: 1 0 0;
            @media (max-width : 1440px) {
              flex: 0;
            }
          }
        }
      }
      .txtbx{
        display: flex;
        flex-direction: column;
        gap: 40px;
        > h3{
          font-size: 64px;
          color : $black-1e
        }
        li{
          font-size: 36px;
          color: $gray-6d;
          text-indent: 5px;
          &::before {
            content: '•';
            padding-right: 10px;
            margin-left: 3px;
          }
        }
      }
      .imgbx{
        margin-top: 120px;
        @media (max-width : 1440px) {
          margin-top: 40px;
        }
      }
    }
  }
  .forth-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1440px) {
        padding: 64px 24px;
      }
      > .txtbx{
        h3 {
          color: $black-1e;
          font-size: 48px;
        }
        > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $black-1e;
          }
          > div {
            border-bottom: 1px solid $black-1e;
          }
        }
        > p {
          margin-top: 40px;
          font-size: 36px;
          color: $gray-6d;
        } 
      }
      .content{
        > ul {
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > li {
            display: flex;
            flex: 1 0 0;
            padding: 40px;
            gap: 40px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            
            @media (max-width : 1440px) { 
              flex-direction: column;
              align-items: start;
            }
            .imgbx{
              flex-shrink: 0;
              width: 200px;
              height: 200px;
              border-radius: 100px;
              overflow: hidden;
              border: 2px solid rgba(30, 30, 30, 0.10);
              @media (max-width : 1440px) {
                margin: 0 auto;
              }
            }
            .txtbx{
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              gap: 20px;
              height: 100%;
              > h4 {
                font-size: 36px;
                font-weight: $fw-bold;
                color: $primary;
              }
              > p {
                font-size: 28px;
                color: $gray-6d;
                flex: 1 0 0;
              }
              span {
                line-height: 32px;
                &:nth-child(1){
                  padding-right: 3px;
                }
              } 
            }
          }
        }
      }
    }
  }
  .middle-sec{
    padding: 64px 24px;
    .txtbx{
      text-align: center;
      color: $black-1e;
      > h3{
        font-size: 40px;
        font-weight: $fw-bold;
        line-height: 130%;
        letter-spacing: -1px;
      }
      > p{
        font-size: 20px;
        line-height: 160%;
        margin-top: 8px;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;
      .box{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        > div {
          width: 100%;
          padding: 40px 24px 24px 40px;
          position: absolute;
          top: 0%;
          left: 0%;
          > a{
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 36px;
            color: $white;
            justify-content: space-between;
            display: flex;
            gap: 40px;
          }
        }
      }
    }
  }
}

// news
#news-container{
  .main{
    padding: 120px 240px;
  }
} 