/*******************************************************************
	Layout
********************************************************************/
body {
  overflow-x: hidden;
}
.headerwrap {
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 111;
  background-color: $white;
  img {
    width: 100%;
    height: 100%;
  }
  #header {
    @include center(horizontal);
    max-width: 1920px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 000px;
    padding: 0 20px;
    .logo {
      position: relative;
      z-index: 2;
      width: 146px;
      aspect-ratio: 146/32;
    }
    .gnb {
      display: flex;
      gap: 20px;
			@media (max-width:1600px) {
				gap: 0;
				display: none;
				&.mobile{
					display: flex;
				}
			}
      .nav {
        display: flex;
        // 메인메뉴들 가로폭맞추려고 어쩔수없는 width사용
        .main-menu {
          width: 172px;
					@media (max-width : 1600px) {
						width: auto;
            &:nth-child(1){
              border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					}
          a {
            color: $black-1e;
            font-weight: $fw-bold;
						.arrow {
							display: none;
							padding-left: 10px;
							@media (max-width : 1600px) {
								&.show{
									display: inline;
								}
							}
						}
          }
          > a {
            display: block;
            line-height: 100px;
            padding: 0 20px;
          }
          &:hover > a {
            color: $white;
          }
          &:hover {
            background-color: $primary;
          }
          &:hover .sub-menu {
            background-color: $primary;
          }
          &:hover .sub-menu a {
            color: $secondary;
          }
          .sub-menu li:hover a {
            color: $white;
          }
          .sub-menu {
            height: 0;
            overflow: hidden;
						&.open {
							height: auto;
							padding-bottom: 20px;
						}
            a {
              padding: 10px 20px;
              display: block;
            }
          }
        }
      }
      .etc-menu {
        display: flex;
        align-items: center;
        gap: 0 20px;
        padding-left: 20px;
        .btn-round {
          height: 48px;
          padding: 5px 10px;
          border-radius: 16px;
          color: $white;
          background-color: $primary;
          font-weight: $fw-bold;
        }
        .lang {
          background-color: $bg-ea;
          display: flex;
          gap: 0 8px;
          border-radius: 278px;
          font-size: calcRem(14px);
          align-items: center;
          .btn-lang {
            padding: 4px 8px;
          }
          .active {
            background-color: $gray-85;
            color: $white;
            font-weight: $fw-bold;
            border-radius: 28px;
          }
        }
      }
    }
    .btn-drawer {
      display: none;
      i {
        line-height: 100px;
        font-size: calcRem(30px);
      }
      @media screen and (max-width: 1600px) {
        display: block;
        position: relative;
        z-index: 2;
      }
    }
  }
  @media screen and (max-width: 1600px) {
    .gnb {
      flex-direction: column;
			top: 0;
			position: fixed;
			height: 100vh;
			right: 0;
			bottom: 0;
			background-color: $white;
			padding-top: 100px;
			left: 0;
      .nav {
        display: flex;
        flex-direction: column;
      }
      .etc-menu {
        margin-bottom: 40px;
        margin-top: auto;
      }
    }
  }
}

.main {
  position: relative;
  .intro {
    position: relative;
    .txt-set {
      width: 1440px;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
			.txt {
				transition: color 0.3s;
				font-size: calcRem(200px);
				font-weight: $fw-bold;
				color: #f3f3f3;
			}
			.txt.on {
				color: $black-1e;
			}
    }
    .bg-section {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: none;
      .img-set {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .startbanner {
    position: relative;
    margin: 0 auto;
    text-align: center;
    // height: 100vh;
		img {
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }
    .startbanner-txtbx {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      z-index: 1;
      opacity: 1;
      > div {
        font-size: 64px;
      }
      > h2 {
        font-weight: $fw-bold;
        font-size: 100px;
      }
      > p {
        font-size: 48px;
        margin-top: 120px;
      }
    }
    
  }
  .product {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: center;
    padding: 180px 240px;
    img {
      width: 100%;
      height: 100%;
    }
    .product-sc {
      padding: 80px;
      max-width: 1280px;
      margin: 0 auto;
      background-color: #f5f7f9;
      border-radius: 40px;
    }
    .product-topbx {
      display: flex;
      gap: 0 80px;
      .product-txtbx {
        position: relative;
        width: 780px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        > h3 {
          font-size: calcRem(64px);
          font-weight: $fw-bold;
          background-image: linear-gradient(
            to right,
            #6c93ea,
            #e5bfc3,
            #9ae5dc
          );
          -webkit-background-clip: text;
          color: transparent;
        }
        > p {
          color: $gray-6d;
          font-size: calcRem(32px);
        }
        .barogagi {
          position: absolute;
          top: 5%;
          right: 0;
          cursor: pointer;
          > a {
            display: flex;
            align-items: center;
            font-size: 16px;
            > div:nth-child(1) {
              padding-right: 16px;
            }
          }
        }
      }
      .product-imgbx {
        width: 428px;
        height: 276px;
      }
    }
    .product-bottombx {
      margin-top: 80px;
      .product-libx ul {
        display: flex;
        gap: 40px;
        li {
          flex: 1;
          border-radius: 20px;
          background: $white;
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
          padding: 40px;
          > h4 {
            margin-bottom: 24px;
						font-size: calcRem(34px);
        		font-weight: $fw-bold;
          }
					> p {
						color: $gray-6d;
						font-size: calcRem(28px);
					}
        }
      }
      
    }
  }
  .news {
    position: relative;
    display: flex;
    // 가로스크롤 높이값 임의지정
    height: 100vh;
    background-color: $primary;
    padding: 180px 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    h3 {
      font-size: calcRem(64px);
      color: $white;
    }
    .news-slide {
      margin-top: 120px;
      margin-bottom: 120px;
			> ul {
				position: relative;
				// width: calc(3800px + 100vw);
				display: flex;
				gap: 40px;
				> li {
					background-color: $white;
					width: 400px;
					height: 480px;
					display: flex;
					flex-direction: column;
					border-radius: 20px;
					> div:nth-child(1) {
						flex: 1;
						font-size: calcRem(28px);
					}
					> div:nth-child(2) {
						height: 260px;
					}
					.news-slide-textbx {
						padding: 32px;
						display: flex;
						flex-direction: column;
						> div {
							flex: 1;
							font-weight: $fw-medium;
						}
						> p {
							font-size: calcRem(14px);
							color: $gray-6d;
						}
					}
				}
			}
    }
    .newsbtn {
      line-height: 32px;
      border: 1px solid $white;
      border-radius: 60px;
      padding: 20px 40px;
      color: $white;
      i {
        padding-left: 5px;
      }
			&:hover {
				transition: 0.3s;
				border: 1px solid $white;
				border-radius: 60px;
				padding: 20px 40px;
				color: $primary;
				background-color: $white;
				font-weight: $fw-bold;
			}
    }
  }
  .contact {
    padding: 180px 240px;
    h2 {
      font-size: calcRem(64px);
      font-weight: $fw-bold;
    }
    .contact-cont {
      overflow: hidden;
      margin-top: 120px;
      .flowbx-wrap {
        display: flex;
        width: 200%;
        position: relative;
				&:nth-child(1) {
					animation: marquee 20s linear infinite;
				}
				&:nth-child(2) {
					margin-top: 80px;
					left: 15%;
					animation: marquee2 20s linear infinite;
				}
				.flowbx {
					display: flex;
					flex-basis: 50%;
					gap: 60px;
					padding-right: 160px;
					> div:nth-child(1) {
						width: 200px;
					}
					> div:nth-child(2) {
						> p {
							margin-top: 20px;
							font-size: calcRem(36px);
							font-weight: $fw-bold;
						}
					}
				}

      }
    }
    @keyframes marquee {
      0% {
        left: 0;
      }
      100% {
        left: -100%;
      }
    }
    @keyframes marquee2 {
      0% {
        left: 15%;
      }
      100% {
        left: -85%;
      }
    }
  }
  .banner {
    width: 1920px;
    height: 480px;
    margin: 0 auto;
    background: url(../images/contact.png) no-repeat;
    display: flex;
    align-items: center;
    padding: 80px 240px;
    gap: 40px;
    justify-content: center;
    color: $white;
    text-align: center;
    flex-direction: column;
    .banner-txtbx {
      > div:nth-child(1) {
        font-size: calcRem(56px);
        font-weight: $fw-bold;
      }
      button {
        color: $white;
        border: 1px solid $white;
      }
    }
    .bannerbtn {
      line-height: 32px;
      border: 1px solid $white;
      border-radius: 60px;
      padding: 20px 40px;
      i {
        padding-left: 5px;
      }
			&:hover {
				transition: 0.3s;
				border: 1px solid $black-1e;
				background-color: $white;
				color: $black-1e;
				font-weight: $fw-bold;
			}
    }
  }
}

.footer {
  height: 100px;
  background-color: $bg-f5;
  color: $gray-6d;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
  font-size: 12px; 
  @media (max-width:1020px) {
    padding: 40px 24px 40px 24px;
    height: auto;
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;
    font-size: 14px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .footer-logo {
    width: 146px;
    aspect-ratio: 146/32;
    @media (max-width : 1440px) {
      width: 80px;
    }
  }
  .footer-info {
    display: flex;
    flex: 1;
    gap: 40px;
    @media (max-width : 767px) {
      gap: 16px;
      flex-direction: column;
    }
    .contact {
      display: flex;
      gap: 20px;
      .email  {
				> a {
					color: $gray-6d;
					text-decoration: underline;
					> span {
						padding-right: 5px;
					}
				}
      }
      .tel {
				> span {
					padding-right: 5px;
				}
			}
    }
  }
  .copyright{
    line-height: 133%;
    @media (max-width : 767px) {
      margin-top: 16px;
    }
  }
}
.scrolltop {
  position: fixed;
  width: 60px;
  bottom: 5%;
  right: 3%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $white;
  display: none;
  // opacity: 0;
  > i {
    font-size: 30px;
  }
  &:hover {
    background-color: black;
    > i {
      color: $white;
    }
  }
}


// neul
#company-container{
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    margin-top: 100px;
    height: calc(100vh - 100px);
    position: relative;
    .txtbx{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      padding: 120px 240px;
      @media (max-width : 1600px) {
        padding: 120px 200px;
      }
      @media (max-width : 1400px) {
        padding: 120px 180px;
      }
      @media (max-width : 1200px) {
        padding: 120px 140px;
      }
      @media (max-width : 1020px) {
        padding: 120px 80px;
      }
      @media (max-width : 767px) {
        padding: 80px 24px;
      }
      > h2{
        font-size: 120px;
        letter-spacing: -1px;
        @media (max-width : 1600px) {
          font-size: 100px;
        }
        @media (max-width : 1400px) {
          font-size: 80px;
        }
        @media (max-width : 1200px) {
          font-size: 70px;
        }
        @media (max-width : 1020px) {
          font-size: 60px;
        }
        @media (max-width : 767px) {
          font-size: 48px;
        }
      }
      > p {
        font-size: 56px;
        letter-spacing: -1px;
        @media (max-width : 1600px) {
          font-size: 48px;
        }
        @media (max-width : 1400px) {
          font-size: 40px;
        }
        @media (max-width : 1200px) {
          font-size: 32px;
        }
        @media (max-width : 1020px) {
          font-size: 28px;
        }
        @media (max-width : 767px) {
          font-size: 24px;
        }
      }
    }
    .bg{
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    .wrap {
      padding: 180px 240px;
      @media (max-width : 1600px) {
        padding: 120px 200px;
      }
      @media (max-width : 1400px) {
        padding: 100px 150px;
      }
      @media (max-width : 1200px) {
        padding: 80px 100px;
      }
      @media (max-width : 1020px) {
        padding: 60px 40px;
      }
      @media (max-width : 767px) {
        padding: 40px 24px;
      }
      .txtbx{
        font-size: 48px;
        letter-spacing: -1px;
        line-height: 171%;
        @media (max-width:1600px) {
          font-size: 44px;
        }
        @media (max-width:1600px) {
          font-size: 42px;
        }
        @media (max-width:1400px) {
          font-size: 40px;
        }
        @media (max-width:1200px) {
          font-size: 40px;
        }
        @media (max-width:1020px) {
          font-size: 38px;
        }
        @media (max-width : 767px) {
          font-size: 28px;
        }
      }
      .imgbx{
        margin-top: 120px;
        @media (max-width : 767px) {
          margin-top: 40px;
        }
        border: 3px solid transparent;
        border-radius: 40px;
        background-image: linear-gradient(#fff,#fff),
        linear-gradient(to right,$primary 0%, purple 60%,aqua 100%);
        background-origin: border-box;
        background-clip: content-box,border-box;
        .wrap{
          padding: 80px 80px 120px 80px;
          @media (max-width : 1600px) {
            padding: 60px 60px 100px 60px;
          }
          @media (max-width : 1200px) {
            padding: 40px 40px 80px 40px;
          }
          @media (max-width : 767px) {
            padding: 40px 24px 24px 24px;
          }
        }
        .sublogo{
          // width: 400px;
          max-width: 400px;
          margin: 0 auto;
          @media (max-width:767px) {
            width: 200px;
          }
        }
        .contentbx{
          max-width: 1200px;
          margin: 0 auto;
          > h4 {
            color : $primary;
            font-size: 32px;
            @media (max-width:767px) {
              font-size: 20px;
            }
            &:nth-child(1){
              margin-top: 60px;
              @media (max-width:767px) {
                margin-top: 40px;
              }
            }
            &:nth-child(2){
              margin-top: 120px;
              @media (max-width:767px) {
                margin-top: 80px;
              }
            }
          }
          > ul{
            display: flex;
            margin-top: 32px;
            @media (max-width : 1020px) {
              flex-direction: column;
            }
            >li {
              position: relative;
              flex-basis: 100%;
              aspect-ratio: 400/240;
              >span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: $white;
                font-weight: $fw-bold;
                font-size: 40px;
                z-index: 1;
                text-align: center;
                @media (max-width : 1600px) {
                  font-size: 38px;
                }
                @media (max-width : 1400px) {
                  font-size: 34px;
                }
                @media (max-width : 1200px) {
                  font-size: 30px;
                }
                @media (max-width : 1020px) {
                  font-size: 40px;
                }
                @media (max-width : 767px) {
                  font-size: 24px;
                }
              }
              > img{
                filter :brightness(60%)
              }
            }
          }
        }
      }
    }
  }
  .third-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1600px) {
        padding: 120px 200px;
      }
      @media (max-width : 1400px) {
        padding: 120px 150px;
      }
      @media (max-width : 1200px) {
        padding: 120px 100px;
      }
      @media (max-width : 1020px) {
        padding: 120px 40px;
      }
      @media (max-width : 767px) {
        padding: 40px 24px;
        gap: 40px;
      }
      .txtbx{
        > h3 {
          color: $black-1e;
          font-size: 48px;
          letter-spacing: -1px;
          line-height: 171%;
          @media (max-width : 1600px) {
            font-size: 46px;
          }
          @media (max-width : 1400px) {
            font-size: 44px;
          }
          @media (max-width : 1200px) {
            font-size: 42px;
          }
          @media (max-width : 1020px) {
            font-size: 40px;
          }
          @media (max-width : 767px) {
            font-size: 26px;
          }
        }
        > p {
          margin-top: 20px;
          font-size: 36px;
          color: $gray-6d;
          letter-spacing: -1px;
          line-height: 160%;
          @media (max-width : 767px) {
            font-size: 20px;
          }
        } 
      }
      .content{
        > ul {
          display: flex;
          flex-direction: column;
          gap: 40px;
          @media (max-width:767px) {
            gap: 24px;
          }
          > li {
            display: flex;
            padding: 80px;
            gap: 80px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            @media (max-width : 1440px) {
              flex-direction: column;
              align-items: start;
            }
            @media (max-width:767px) {
              padding: 40px;
              gap: 24px;
            }
            > div{
              flex-basis: 100%;
            }
            .imgtxtbx{
              color: transparent;
              font-size: 80px;
              font-weight: $fw-bold;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              @media (max-width:767px) {
                font-size: 40px;
              }
              &.imgtxtbx1 {
                background-image: url(../images/neul/linear1.png);
              }
              &.imgtxtbx2 {
                background-image: url(../images/neul/linear2.png);
              }
              &.imgtxtbx3 {
                background-image: url(../images/neul/linear3.png);
              }
            }
            .txtbx{
              font-size: 36px;
              font-weight: $fw-bold;
              @media (max-width:767px) {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
// service - neul_silver_care
#service-neul_silver_care-container{
  margin-top: 100px;
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    position: relative;
    height: calc(100vh - 100px);
    padding: 120px 240px;
    @media (max-width : 1600px) {
      padding: 120px 200px;
    }
    @media (max-width : 1440px) {
      padding: 120px 180px;
    }
    @media (max-width : 1200px) {
      padding: 120px 140px;
    }
    @media (max-width : 1020px) {
      padding: 120px 80px;
    }
    @media (max-width : 767px) {
      padding: 80px 24px;
    }
    .txtbx{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      letter-spacing: -1px;
      > h2{
        font-size: 120px;
        line-height: 125%;
        @media (max-width : 1600px) {
          font-size: 100px;
        }
        @media (max-width : 1400px) {
          font-size: 80px;
        }
        @media (max-width : 1200px) {
          font-size: 70px;
        }
        @media (max-width : 1020px) {
          font-size: 60px;
        }
        @media (max-width : 767px) {
          font-size: 48px;
        }
      }
      > p {
        font-weight: $fw-bold;
        font-size: 56px;
        line-height: 150%;
        @media (max-width : 1600px) {
          font-size: 48px;
        }
        @media (max-width : 1400px) {
          font-size: 40px;
        }
        @media (max-width : 1200px) {
          font-size: 32px;
        }
        @media (max-width : 1020px) {
          font-size: 28px;
        }
        @media (max-width : 767px) {
          font-size: 24px;
        }
      }
    }
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    .content{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1600px) {
        padding: 120px 200px;
      }
      @media (max-width : 1400px) {
        padding: 100px 150px;
        gap: 100px;
      }
      @media (max-width : 1200px) {
        padding: 80px 100px;
      }
      @media (max-width : 1020px) {
        padding: 60px 40px;
        gap: 80px;
      }
      @media (max-width : 767px) {
        padding: 40px 24px 80px 24px;
        gap: 40px;
      }
      .txtbx{
        > h3 {
          font-weight: $fw-bold;
          letter-spacing: -1px;
          line-height: 125%;
          font-size: 64px;
          @media (max-width : 1600px) {
            font-size: 60px;
          }
          @media (max-width : 1400px) {
            font-size: 56px;
          }
          @media (max-width : 1200px) {
            font-size: 52px;
          }
          @media (max-width : 1020px) {
            font-size: 48px;
          }
          @media (max-width : 767px) {
            font-size: 32px;
          }
        }
        > p {
          letter-spacing: -1px;
          margin-top: 40px;
          color: $gray-6d;
          font-size: 36px;
          line-height: 160%;
          @media (max-width : 1600px) {
            font-size: 34px;
          }
          @media (max-width : 14400px) {
            font-size: 32px;
          }
          @media (max-width : 1200px) {
            font-size: 30px;
          }
          @media (max-width : 1020px) {
            font-size: 28px;
          }
          @media (max-width : 767px) {
            font-size: 20px;
          }
        }
      }
      .imgbx{
        border-radius: 40px;
        overflow: hidden;
      }
      .m-imgbx{
        display: flex;
        flex-direction: column;
        gap: 24px;
        > div{
          position: relative;
          overflow: hidden;
          border-radius: 40px;
          background-color: $bg-f5;
          padding: 40px 40px 0 40px;
        }
      }
    }
  }
  .third-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1600px) {
        padding: 120px 200px;
      }
      @media (max-width : 1400px) {
        padding: 100px 150px;
        gap: 100px;
      }
      @media (max-width : 1200px) {
        padding: 80px 100px;
      }
      @media (max-width : 1020px) {
        padding: 80px 40px;
        gap: 80px;
      }
      @media (max-width : 767px) {
        padding: 64px 24px;
        gap: 40px;
      }
      > .txtbx{
        h3 {
          color: $black-1e;
          font-size: 48px;
          letter-spacing: -1px;
          line-height: 171%;
          @media (max-width : 1600px) {
          }
          @media (max-width : 14400px) {
          }
          @media (max-width : 1200px) {
          }
          @media (max-width : 1020px) {
          }
          @media (max-width : 767px) {
            font-size: 28px;
          }
        }
        > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $black-1e;
          }
          > div {
            border-bottom: 1px solid $black-1e;
          }
        }
        > p {
          margin-top: 40px;
          font-size: 36px;
          color: $gray-6d;
        } 
      }
      .content{
        > ul {
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > li {
            display: flex;
            flex: 1 0 0;
            padding: 40px;
            gap: 40px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            
            @media (max-width : 1440px) { 
              flex-direction: column;
              align-items: start;
            }
            .imgbx{
              flex-shrink: 0;
              width: 200px;
              height: 200px;
              border-radius: 100px;
              overflow: hidden;
              border: 2px solid rgba(30, 30, 30, 0.10);
              @media (max-width : 1440px) {
                margin: 0 auto;
              }
            }
            .txtbx{
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              gap: 20px;
              height: 100%;
              letter-spacing: -1px;
              > h4 {
                font-size: 36px;
                font-weight: $fw-bold;
                color: $primary;
                line-height: 150%;
                @media (max-width : 1600px) {
                  font-size: 34px;
                }
                @media (max-width : 1400px) {
                  font-size: 32px;
                }
                @media (max-width : 1200px) {
                  font-size: 30px;
                }
                @media (max-width : 1020px) {
                  font-size: 28px;
                }
                @media (max-width : 767px) {
                  font-size: 24px;
                }
              }
              > p {
                font-size: 28px;
                color: $gray-6d;
                flex: 1 0 0;
                line-height: 150%;
                @media (max-width : 1600px) {
                  font-size: 26px;
                }
                @media (max-width : 1400px) {
                  font-size: 24px;
                }
                @media (max-width : 1200px) {
                  font-size: 22px;
                }
                @media (max-width : 1020px) {
                  font-size: 20px;
                }
                @media (max-width : 767px) {
                  font-size: 16px;
                }
              }
              span {
                line-height: 32px;
                &:nth-child(1){
                  padding-right: 3px;
                }
              } 
            }
          }
        }
      }
    }
  }
  .middle-sec{
    padding: 64px 24px;
    .txtbx{
      text-align: center;
      color: $black-1e;
      > h3{
        font-size: 40px;
        font-weight: $fw-bold;
        line-height: 130%;
        letter-spacing: -1px;
      }
      > p{
        font-size: 20px;
        line-height: 160%;
        margin-top: 8px;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;
      .box{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        > div {
          width: 100%;
          padding: 40px 24px 24px 40px;
          position: absolute;
          top: 0%;
          left: 0%;
          > a{
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 36px;
            color: $white;
            justify-content: space-between;
            display: flex;
            gap: 40px;
            letter-spacing: -1px;
            line-height: 128%;
          }
        }
      }
    }
  }
}
// service - assessment
#service-assessment-container{
  margin-top: 100px;
  .dtOnly {
    @media (max-width : 1440px) {
      display: none;
    }
  }
  .mobileOnly{
    display: none;
    @media (max-width : 1440px) {
      display: block;
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  .fisrt-sec{
    position: relative;
    height: calc(100vh - 100px);
    padding: 120px 240px;
    @media (max-width : 1440px) {
      padding: 80px 24px;
    }
    .txtbx{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 60px;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      > h2{
        font-size: 120px;
      }
      > p {
        font-weight: $fw-bold;
        font-size: 56px;
      }
    }
    .bg{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  .second-sec{
    background-color: $primary;
    .wrap{
      padding: 180px 240px;
      @media (max-width : 1440px) {
        padding: 64px 24px;
      }
      > h3{
        font-size: 100px;
        font-weight: $fw-bold;
        color: $white;
        text-align: center;
      }
      .content{
        display: flex;
        gap: 40px;
        margin-top: 120px;
        @media (max-width : 1440px) {
          flex-direction: column;
        }
        .listwrap{
          border-radius: 40px;
          background-color: $bg-18;
          color: $white;
          flex: 1 0 0;
          .topbox{
            .txtbx{
              padding: 48px 40px;
              @media (max-width : 1440px) {
                padding: 24px; 
              }
              > h4{
                font-size: 64px;
                font-weight: $fw-bold;
                margin-top: 24px;
                @media (max-width : 1440px) {
                  font-size: 32px;
                  margin-top: 16px; 
                }
              }
              img{
                width: 96px;
                height: 96px;
                @media (max-width : 1440px) {
                  width: 64px;
                  height: 64px;
                }
              }
            }
          }
          .bottombox{
            border-radius: 40px;
            background-color: $bg-0c;
            padding: 48px 48px 64px 48px;
            @media (max-width : 1440px) {
              padding: 32px 24px;
            }
            > ul{
              display: flex;
              flex-direction: column;
              gap: 24px; 
              @media (max-width : 1440px) {
                gap: 16px;
              }
              li {
                display: flex;
                font-size: 36px;
                gap: 20px;
                align-items: center;
                @media (max-width : 1440px) {
                  font-size: 20px;
                }
                > span:nth-child(1){
                  display: inline-block;
                  text-align: center;
                  width: 72px;
                  height: 56px;
                  padding: 4px;
                  background-color: $bg-00d;
                  color: $black-1e;
                  border-radius: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
        
      }
    }
  }
  .third-sec{
    .content{
      padding: 180px 240px;
      @media (max-width : 1440px) {
        padding: 40px 80px;
      }
      &:nth-child(3){
        .imgbx{
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > div:nth-child(1){
            border-radius: 40px;
            overflow: hidden;
            flex-basis: 60%;
          }
          > div:nth-child(2){
            border-radius: 40px;
            overflow: hidden;
            flex: 1 0 0;
            @media (max-width : 1440px) {
              flex: 0;
            }
          }
        }
      }
      .txtbx{
        display: flex;
        flex-direction: column;
        gap: 40px;
        > h3{
          font-size: 64px;
          color : $black-1e
        }
        li{
          font-size: 36px;
          color: $gray-6d;
          text-indent: 5px;
          &::before {
            content: '•';
            padding-right: 10px;
            margin-left: 3px;
          }
        }
      }
      .imgbx{
        margin-top: 120px;
        @media (max-width : 1440px) {
          margin-top: 40px;
        }
      }
    }
  }
  .forth-sec{
    .wrap{
      padding: 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 120px;
      @media (max-width : 1440px) {
        padding: 64px 24px;
      }
      > .txtbx{
        h3 {
          color: $black-1e;
          font-size: 48px;
        }
        > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $black-1e;
          }
          > div {
            border-bottom: 1px solid $black-1e;
          }
        }
        > p {
          margin-top: 40px;
          font-size: 36px;
          color: $gray-6d;
        } 
      }
      .content{
        > ul {
          display: flex;
          gap: 40px;
          @media (max-width : 1440px) {
            flex-direction: column;
          }
          > li {
            display: flex;
            flex: 1 0 0;
            padding: 40px;
            gap: 40px;
            border-radius: 40px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
            align-items: center;
            
            @media (max-width : 1440px) { 
              flex-direction: column;
              align-items: start;
            }
            .imgbx{
              flex-shrink: 0;
              width: 200px;
              height: 200px;
              border-radius: 100px;
              overflow: hidden;
              border: 2px solid rgba(30, 30, 30, 0.10);
              @media (max-width : 1440px) {
                margin: 0 auto;
              }
            }
            .txtbx{
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              gap: 20px;
              height: 100%;
              > h4 {
                font-size: 36px;
                font-weight: $fw-bold;
                color: $primary;
              }
              > p {
                font-size: 28px;
                color: $gray-6d;
                flex: 1 0 0;
              }
              span {
                line-height: 32px;
                &:nth-child(1){
                  padding-right: 3px;
                }
              } 
            }
          }
        }
      }
    }
  }
  .middle-sec{
    padding: 64px 24px;
    .txtbx{
      text-align: center;
      color: $black-1e;
      > h3{
        font-size: 40px;
        font-weight: $fw-bold;
        line-height: 130%;
        letter-spacing: -1px;
      }
      > p{
        font-size: 20px;
        line-height: 160%;
        margin-top: 8px;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 40px;
      .box{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        > div {
          width: 100%;
          padding: 40px 24px 24px 40px;
          position: absolute;
          top: 0%;
          left: 0%;
          > a{
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 36px;
            color: $white;
            justify-content: space-between;
            display: flex;
            gap: 40px;
          }
        }
      }
    }
  }
}

// news
#news-container{
  .main{
    margin-top: 100px;
    padding: 120px 240px 180px 240px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    .topbx{
      > h2{
        font-size: 64px;
        color: $black-1e;
        font-weight: $fw-bold;
        letter-spacing: -1;
      }
      > ul{
        display: flex;
        gap: 24px;
        margin-top: 40px;
        > li{
          padding: 12px 24px;
          border-radius: 48px;
          border: 2px solid rgba(30, 30, 30, 0.10);
          background: #FFF;
          &.active{
            background: $primary;
            > a{
              color: $white;
            }
          }
          > a{
            font-size: 20px;
            color: $black-1e;
          }
        }
      }
    }
    .middlebx{
      max-width: 1440px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 40px;
      justify-items: center;
      padding: 0 80px;
      .column > a{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 516px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
        .txtbx{
          padding: 32px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          flex: 1 0 0;
          > div:nth-child(1),div:nth-child(3){
            color: $gray-6d;
            font-size: 14px;
            line-height: 142%;
          }
          > div:nth-child(2){
            flex: 1 0 0;
            color: $black-1e;
            font-size: 28px;
            line-height: 142%;
          }
        }
        .imgbx{
          flex-shrink: 0;
        }
      }
    }
    .bottombx{
      display: flex;
      .pagenation{
        display: flex;
        gap: 48px;
        flex: 1 0 0;
        align-items: center;
        > div{
          width: 56px;
          height: 56px;
        }
        > ul{
          display: flex;
          gap: 48px;
          > li {
            > a{
              color: $gray-a;
            }
            &.now a{
              color : $black-1e
            }
          }
        }
      }
      .numofnum{
        display: flex;
        gap: 18px;
        align-items: center;
        > div{
          &:nth-child(1){
            display: flex;
            width: 56px;
            height: 56px;
            padding: 12px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            border: 2px solid rgba(30, 30, 30, 0.10);
            background: #F5F7F9;
          }
          &:nth-child(2){
            color: $gray-a;
          }
        }
        > button{
          padding: 12px 24px;
          border-radius: 48px;
          background-color: $primary;
          color: $white;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: -1px;
          i {
            padding-left: 8px;
          }
        }
      }
    }
  }
} 
// news - press_release_detail
#press_release_detail-container{
  .main{
    margin-top: 100px;
    > article{
      padding: 120px 240px 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 80px;
      align-items: center;
      .txtbx{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        > h2{
          color: $black-1e;
          font-size: 64px;
          font-weight: $fw-bold;
          line-height: 84px;
          letter-spacing: -1px;
        }
        > div{
          display: flex;
          justify-content: center;
          gap: 32px;
          font-size: 20px;
          line-height: 160%;
          color: $black-1e;
          > div:nth-child(2){
            color: $gray-6d;
          }
        }
      }
      .imgbx{
        img{
          aspect-ratio: 1440/640;
          object-fit: cover;
        }
        figcaption{
          margin-top: 24px;
          padding: 0 24px ;
          font-size: 20px;
          color : $gray-6d;
        }
      }
      .text{
        padding: 0 240px;
        color: $black-1e;
        p{
         margin-top: 24px; 
         font-size: 24px;
         &:nth-child(1){
           margin-top: 0;
         }
        }
      }
      button{
        >a{
          display: block;
          margin-top: 40px;
          font-size: 20px;
          border-radius: 60px;
          color: $black-1e;
          padding: 20px 40px;
          border: 2px solid #1E1E1E;
        }
        &:hover{
          > a{
            background-color:#1E1E1E;
            color: $white;
          }
        }
      }
    }
    
  }
}
// news - data_list
#data_list-container{
  .main{
    margin-top: 100px;
    padding: 120px 240px 180px 240px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    .topbx{
      > h2{
        font-size: 64px;
        color: $black-1e;
        font-weight: $fw-bold;
        letter-spacing: -1;
      }
      > ul{
        display: flex;
        gap: 24px;
        margin-top: 40px;
        > li{
          padding: 12px 24px;
          border-radius: 48px;
          border: 2px solid rgba(30, 30, 30, 0.10);
          background: #FFF;
          &.active{
            background: $primary;
            > a{
              color: $white;
            }
          }
          > a{
            font-size: 20px;
            color: $black-1e;
          }
        }
      }
    }
    .middlebx{
      >ul{
        display: flex;
        flex-direction: column;
        border-top: 2px solid $black-1e;
        >li{
          display: flex;
          gap: 40px;
          padding: 40px;
          align-items: center;
          border-bottom: 1px solid rgba(30, 30, 30, 0.10);
          >.txtbx{
            flex : 1 0 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            >.txtbx-top{
              display: flex;
              line-height: 142%;
              >div:nth-child(1){
                color: $black-1e;
                flex: 1 0 0;
                font-size: 28px;
                letter-spacing: -1px;
              }
              .date{
                font-size: 14px;
                color : $gray-6d
              }
            }
            .txtbx-bottom{
              color : $gray-6d;
              font-size: 24px;
              line-height: 150%;
              letter-spacing: -1px;
            }
          }
        }
      }
    }





    .bottombx{
      display: flex;
      .pagenation{
        display: flex;
        gap: 48px;
        flex: 1 0 0;
        align-items: center;
        > div{
          width: 56px;
          height: 56px;
        }
        > ul{
          display: flex;
          gap: 48px;
          > li {
            > a{
              color: $gray-a;
            }
            &.now a{
              color : $black-1e
            }
          }
        }
      }
      .numofnum{
        display: flex;
        gap: 18px;
        align-items: center;
        > div{
          &:nth-child(1){
            display: flex;
            width: 56px;
            height: 56px;
            padding: 12px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            border: 2px solid rgba(30, 30, 30, 0.10);
            background: #F5F7F9;
          }
          &:nth-child(2){
            color: $gray-a;
          }
        }
        > button{
          padding: 12px 24px;
          border-radius: 48px;
          background-color: $primary;
          color: $white;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: -1px;
          i {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

// help - notice_list
#notice_list-container{
  .main{
    margin-top: 100px;
    padding: 120px 240px 180px 240px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    .topbx{
      > h2{
        font-size: 64px;
        color: $black-1e;
        font-weight: $fw-bold;
        letter-spacing: -1;
      }
      > ul{
        display: flex;
        gap: 24px;
        margin-top: 40px;
        > li{
          padding: 12px 24px;
          border-radius: 48px;
          border: 2px solid rgba(30, 30, 30, 0.10);
          background: #FFF;
          &.active{
            background: $primary;
            > a{
              color: $white;
            }
          }
          > a{
            font-size: 20px;
            color: $black-1e;
          }
        }
      }
    }
    .middlebx{
      >ul{
        display: flex;
        flex-direction: column;
        border-top: 2px solid $black-1e;
        >li{
          display: flex;
          gap: 60px;
          padding: 40px;
          align-items: center;
          border-bottom: 1px solid rgba(30, 30, 30, 0.10);
          font-size: 20px;
          letter-spacing: -1px;
          line-height: 160%;
          a{
            color: $black-1e;
            font-size: 28px;
            letter-spacing: -1px;
            line-height: 142%;
            font-weight: $fw-medium;
          }
          > div:nth-child(1),div:nth-child(2){
            width: 80px;
          }
          > div:nth-child(3){
            flex : 1 0 0;
          }
          > div:nth-child(4){
            font-size: 14px;
            color: $gray-6d;
            line-height: 142%;
          }
        }
      }
    }
    .bottombx{
      display: flex;
      .pagenation{
        display: flex;
        gap: 48px;
        flex: 1 0 0;
        align-items: center;
        > div{
          width: 56px;
          height: 56px;
        }
        > ul{
          display: flex;
          gap: 48px;
          > li {
            > a{
              color: $gray-a;
            }
            &.now a{
              color : $black-1e
            }
          }
        }
      }
      .numofnum{
        display: flex;
        gap: 18px;
        align-items: center;
        > div{
          &:nth-child(1){
            display: flex;
            width: 56px;
            height: 56px;
            padding: 12px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            border: 2px solid rgba(30, 30, 30, 0.10);
            background: #F5F7F9;
          }
          &:nth-child(2){
            color: $gray-a;
          }
        }
        > button{
          padding: 12px 24px;
          border-radius: 48px;
          background-color: $primary;
          color: $white;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: -1px;
          i {
            padding-left: 8px;
          }
        }
      }
    }
  }
}
// help - notice_detail
#notice_detail-container{
  .main{
    margin-top: 100px;
    > .content{
      padding: 120px 240px 180px 240px;
      display: flex;
      flex-direction: column;
      gap: 80px;
      align-items: center;
      .txtbx{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        > h2{
          color: $black-1e;
          font-size: 64px;
          font-weight: $fw-bold;
          line-height: 84px;
          letter-spacing: -1px;
        }
        > div{
          display: flex;
          justify-content: center;
          gap: 32px;
          font-size: 20px;
          line-height: 160%;
          color: $black-1e;
          > div:nth-child(2){
            color: $gray-6d;
          }
        }
      }
      .imgbx{
        max-width: 1440px;
        max-height: 1280px ;
      }
      
      button{
        >a{
          display: block;
          margin-top: 40px;
          font-size: 20px;
          border-radius: 60px;
          color: $black-1e;
          padding: 20px 40px;
          border: 2px solid #1E1E1E;
        }
        &:hover{
          > a{
            background-color:#1E1E1E;
            color: $white;
          }
        }
      }
    }
    
  }
}
// help - faq_list{
#faq_list-container{
  .main{
    margin-top: 100px;
    padding: 120px 240px 180px 240px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    .topbx{
      > h2{
        font-size: 64px;
        color: $black-1e;
        font-weight: $fw-bold;
        letter-spacing: -1;
      }
      > ul{
        display: flex;
        gap: 24px;
        margin-top: 40px;
        > li{
          padding: 12px 24px;
          border-radius: 48px;
          border: 2px solid rgba(30, 30, 30, 0.10);
          background: #FFF;
          &.active{
            background: $primary;
            > a{
              color: $white;
            }
          }
          > a{
            font-size: 20px;
            color: $black-1e;
          }
        }
      }
    }
    .middlebx{
      >ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        > li{
          display: flex;
          flex-direction: column;
          padding: 40px;
          gap: 16px;
          background-color: $bg-f5;
          border-radius: 20px;
          &.on{
            .topslide{
              >div:nth-child(2){
                .downArrow{
                  display: none;
                }
                .upArrow{
                  display: block;
                }
              }
            }
            .bottomslide{
              display: block;
            }
          }
          .topslide{
            display: flex;
            > div:nth-child(1){
              flex : 1 0 0;
              color: $black-1e;
              font-size: 28px;
              font-weight: $fw-medium;
              letter-spacing: -1px;
              line-height: 142%;
            }
            > div:nth-child(2){
              width: 32px;
              height: 32px;
              .downArrow{
                display: block;
              }
              .upArrow{
                display: none;
              }
            }
          }
          .bottomslide{
            display: none;
            font-size: 24px;
            letter-spacing: -1px;
            color: $gray-6d;
            line-height: 150%;
          }
        }
      }
    }
    .bottombx{
      display: flex;
      .pagenation{
        display: flex;
        gap: 48px;
        flex: 1 0 0;
        align-items: center;
        > div{
          width: 56px;
          height: 56px;
        }
        > ul{
          display: flex;
          gap: 48px;
          > li {
            > a{
              color: $gray-a;
            }
            &.now a{
              color : $black-1e
            }
          }
        }
      }
      .numofnum{
        display: flex;
        gap: 18px;
        align-items: center;
        > div{
          &:nth-child(1){
            display: flex;
            width: 56px;
            height: 56px;
            padding: 12px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            border: 2px solid rgba(30, 30, 30, 0.10);
            background: #F5F7F9;
          }
          &:nth-child(2){
            color: $gray-a;
          }
        }
        > button{
          padding: 12px 24px;
          border-radius: 48px;
          background-color: $primary;
          color: $white;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: -1px;
          i {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

// 공용미디어쿼리
.mobileOnly{
  display: none;
  @media (max-width : 767px) {
    display: block;
  }
}
.mobileOnly-i{
  display: none;
  @media (max-width:767px) {
    display: inline;
  }
}
@media (max-width : 767px) {
      .dtOnly{
        display: none;
      }
}