@charset "utf-8";

$font-size-base: 16px;

// ------------------------------------------------------------
// Example
// @include ellipsis;
// ------------------------------------------------------------ 
@mixin ellipsis($width: 100%) {
	display: inline-block;
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

//  ------------------------------------------------------------
// Example
// Define vertical, horizontal, or both position
//   Using the mixin
// .foo {
//       @include center-align(both);
//       @include center-align(def);
//       @include center-align(self,20px,10px,0,0);
//   }
//   .foo-parent {
//       position: relative;
//   }
// ------------------------------------------------------------ 
@mixin center($position, $T:null, $R:null, $B:null, $L:null) {
  position: absolute;
  
  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
	@else if $position == 'def' {
    top: 0;
    left: 0;
  }
	@else if $position == 'self' {
    top: $T;
		left: $L;
		right: $R;
		bottom: $B;
  }
}

// font size rem 변환
@function calcRem($target, $context: $font-size-base) {
  @return ($target / $context) * 1rem;
}

//  ------------------------------------------------------------
// font size, color 반환
// Example
// @include font(12px,#606060); px사용
// @include font(12px); 컬러값 불필요할 때
// @include font(calcRem(12px),#606060); rem변환 사용
// ------------------------------------------------------------ 
@mixin font($size, $color: false) {
  font-size: $size;

  @if $color != false {
    color: $color;
  }
}
// 망작
// @mixin fz($size, $fw:400, $color : false,){
//   letter-spacing: -1px;
//   font-weight: $fw;
//   @include font($size + px,$color);

//   @if $size == 120 {
//     font-size: 120px;
//     line-height: 133%;
//     @media (max-width: 1600px) {
//       font-size: 100px;
//     }
//     @media (max-width: 1400px) {
//       font-size: 80px;
//     }
//     @media (max-width: 1200px) {
//       font-size: 70px;
//     }
//     @media (max-width: 1020px) {
//       font-size: 60px;
//     }
//     @media (max-width: 767px) {
//       font-size: 48px;
//       line-height: 125%;
//     }
//   }

//   @if $size == 64 {
//     line-height: 131%;
//     @media (max-width: 1600px) {
//       font-size: 60px;
//     }
//     @media (max-width: 1400px) {
//       font-size: 56px;
//     }
//     @media (max-width: 1200px) {
//       font-size: 52px;
//     }
//     @media (max-width: 1020px) {
//       font-size: 48px;
//     }
//     @media (max-width: 767px) {
//       font-size: 32px;
//       line-height: 125%;
//     }
//   }

//   @if $size == 56 {
//     line-height: 142%;
//     font-size: 56px;
//     @media (max-width: 1600px) {
//       font-size: 48px;
//     }
//     @media (max-width: 1400px) {
//       font-size: 40px;
//     }
//     @media (max-width: 1200px) {
//       font-size: 32px;
//     }
//     @media (max-width: 1020px) {
//       font-size: 28px;
//     }
//     @media (max-width: 767px) {
//       font-size: 24px;
//       line-height: 150%;
//     }
//   }

//   @if $size == 48 {
//     font-size: 48px;
//       line-height: 150%;
//       @media (max-width: 1600px) {
//         font-size: 44px;
//       }
//       @media (max-width: 1600px) {
//         font-size: 42px;
//       }
//       @media (max-width: 1400px) {
//         font-size: 40px;
//       }
//       @media (max-width: 1200px) {
//         font-size: 40px;
//       }
//       @media (max-width: 1020px) {
//         font-size: 38px;
//       }
//       @media (max-width: 767px) {
//         font-size: 28px;
//       }
//   }

//   @if $size == 36 {
//     line-height: 155%;
//     font-size: 36px;
//     @media (max-width: 1600px) {
//       font-size: 34px;
//     }
//     @media (max-width: 1400px) {
//       font-size: 32px;
//     }
//     @media (max-width: 1200px) {
//       font-size: 30px;
//     }
//     @media (max-width: 1020px) {
//       font-size: 28px;
//     }
//     @media (max-width: 767px) {
//       font-size: 24px;
//       line-height: 160%;
//     }
//   }

//   @if $size == 32 {
//     font-size: 32px;
//     @media (max-width: 1600px) {
//       font-size: 30px;
//     }
//     @media (max-width: 1400px) {
//       font-size: 28px;
//     }
//     @media (max-width: 1200px) {
//       font-size: 26px;
//     }
//     @media (max-width: 1020px) {
//       font-size: 24px;
//     }
//     @media (max-width: 767px) {
//       font-size: 14px;
//     }
//   }
// }

// @mixin pdType($type){
//   @if $type = 'typeBg' {
//     padding: 120px 240px;
//     @media (max-width: 1600px) {
//       padding: 120px 200px;
//     }
//     @media (max-width: 1400px) {
//       padding: 120px 180px;
//     }
//     @media (max-width: 1200px) {
//       padding: 120px 140px;
//     }
//     @media (max-width: 1020px) {
//       padding: 120px 80px;
//     }
//     @media (max-width: 767px) {
//       margin-top: 68px;
//       padding: 80px 24px;
//       height: calc(100vh - 68px);
//   }
//   }
//   @if $type = 'typeContent' {
//     padding: 180px 240px;
//     @media (max-width: 1600px) {
//       padding: 120px 200px;
//     }
//     @media (max-width: 1400px) {
//       padding: 100px 150px;
//     }
//     @media (max-width: 1200px) {
//       padding: 80px 100px;
//     }
//     @media (max-width: 1020px) {
//       padding: 60px 40px;
//     }
//     @media (max-width: 767px) {
//       padding: 40px 24px;
//     }
//   }
//   @if $type = "typeList" {
//     padding: 120px 240px 180px 240px;
//   @media (max-width: 1600px) {
//     padding: 120px 200px 180px;
//   }
//   @media (max-width: 1400px) {
//     padding: 120px 150px 180px;
//   }
//   @media (max-width: 1200px) {
//     padding: 120px 100px 180px;
//   }
//   @media (max-width: 1020px) {
//     padding: 80px 40px 100px;
//   }
//   @media (max-width: 767px) {
//     padding: 40px 24px 80px;
//   }
//   }
// }
