/*******************************************************************
	popup
********************************************************************/
.modal{
	z-index: 900;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.popup{
	
}